@model Auctioneer.ViewModels.EditBrandModelsViewModel

@{
    ViewData["Title"] = "Models by Brand";
}

<h1>Edit Models for the  @Model.Brand Brand</h1>

<p>
    <a class="btn btn-success float-right" asp-action="Create" asp-route-Id="@ViewBag.Id">Add A New Model</a>
</p>
@if (Model.CarTypes.Count() > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Model
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.CarTypes)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    <td>
                        <div class="row float-right">
                            <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.CarTypeID">Edit</a> &nbsp;
                            <a class="btn btn-danger text-white"  onclick="ConfirmDelete(@item.CarTypeID)">Delete</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>There are no car models added for this brand.</p>
}

<a asp-action="Index" asp-controller="CarType" class="btn btn-primary" style="width:auto">Cancel</a>
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h4>Are you sure you want to delete?</h4>



            </div>
            <div class="modal-footer">
                <a class="btn btn-primary text-white" data-dismiss="modal">Cancel</a>
                <a class="btn btn-success text-white" onclick="Delete()">Confirm</a>
            </div>

        </div>

    </div>

</div>
@*hidden field for storing current employeeId*@
<input type="hidden" id="hiddenId" />

@section scripts{
    <script>

        var ConfirmDelete = function (Id) {

            $("#hiddenId").val(Id);
            $("#myModal").modal('show');

        }

        var Delete = function () {

            var Id = $("#hiddenId").val();

            $.ajax({

                type: "POST",
                url: "/CarType/Delete",
                data: { Id: Id },
                success: function (result) {

                    $("#myModal").modal("hide");
                    location.reload();
                }
            })
        }
    </script>
}
