@model Auctioneer.ViewModels.AuctionsViewModel
@{
    ViewData["Title"] = "Expired Auctions";

}
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-md-6">
            <h2 class="text-dark"> Expired Auctions </h2>
        </div>

        <div class="col-md-6">
            <a asp-action="Index" class="btn btn-success float-right "> Back to Live Auctions </a>
        </div>
    </div>
    <br /><br />
    <div class="row">
        @if (Model.Auctions.Count() > 0)
        {
            <div class="container mt-5 mb-5">
                <div class="d-flex justify-content-center row">
                    <div class="col-md-10">
                        @foreach (var obj in Model.Auctions.OrderByDescending(x => x.ExpiryDate))

                        {
                            TimeSpan timeRemaining = new TimeSpan(obj.ExpiryDate.Ticks - DateTime.Now.Ticks);
                            <div class="row p-2 bg-white border rounded">
                                <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" src="@("~/Image/" + obj.Gallery.FirstOrDefault().ImageName)" asp-append-version="true"></div>
                                <div class="col-md-6 mt-1">
                                    <h5>@obj.Brand @obj.Type</h5>
                                    <p class="text-justify text-truncate para mb-0">@obj.Title </p>
                                    <br />
                                    <div>
                                        <p class="text-danger font-weight-bold">The auction has ended: @obj.ExpiryDate.ToString("dd MMMM yyyy, HH:mm") </p>
                                        <p class="text-success font-weight-bold">Auction winner: @obj.AuctionWinner </p>
                                    </div>
                                </div>
                                <div class="align-items-center align-content-center col-md-3 border-left mt-1">

                                    <div class="d-flex flex-column mt-4">
                                        <a class="btn btn-primary btn-sm" asp-controller="Auction" asp-action="Details" asp-route-Id="@obj.AuctionID">Details</a>
                                        @if (User.IsInRole("Admin"))
                                        {
                                            <form asp-controller="Auction" asp-action="Block" asp-route-id="@obj.AuctionID" asp-route-returnUrl="@Context.Request.Path">
                                                <input class="btn btn-danger btn-block mt-2" type="submit" value="Block auction" />
                                            </form>                                       
                                        }
                                    </div>
                                </div>
                            </div>
                            <br />
                        }
                    </div>
                </div>
            </div>
        }
        else
        {
            <p>There are no expired auctions at the moment.</p>
        }

    </div>
</div>