@model Auctioneer.ViewModels.AuctionsViewModel
@{
    ViewData["Title"] = "Live Auctions";

}
<script>
    function startCountdown(timeLeft, spanId) {
        var interval = setInterval(countdown, 1000);
        update();

        function countdown() {
            if (--timeLeft > 0) {
                update();
            } 
        }

        function update() {
            days = Math.floor(timeLeft / 86400);
            hours = Math.floor((timeLeft % 86400) / 3600);
            minutes = Math.floor((timeLeft % 3600) / 60);
            seconds = timeLeft % 60;
            document.getElementById(spanId).innerHTML = '' + days + 'D ' + hours + 'H ' + minutes + 'M ' + seconds.toFixed(0) + 'S ';
        }
    }
</script>
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-dark">Live Auctions</h2>
        </div>
        <div class="col-6">
            <a asp-action="ExpiredAuctions" class="btn btn-primary float-right"> Finished auctions </a>
        </div>
    </div>
    <br /><br />

    @if (Model.Auctions.Count() > 0)
    {
        <div class="container mt-5 mb-5">
<div class="d-flex justify-content-center row">
    <div class="col-md-12">
        @foreach (var obj in Model.Auctions)

                    {
                        TimeSpan timeRemaining = new TimeSpan(obj.ExpiryDate.Ticks - DateTime.Now.Ticks);
        @if (timeRemaining.TotalSeconds > 0)
                        {
        <div class="row p-2 bg-white border rounded">
            <div class="col-md-4 mt-2">
                <img class="img-fluid img-responsive rounded product-image" src="@("~/Image/" + obj.Image.ImageName)" asp-append-version="true">
                <p class="text-info font-weight-bold mt-3">Owner: @obj.AuctionOwner </p>
                <p class="text-success font-weight-bold">Current winner: @obj.AuctionWinner</p>
            </div>
            <div class="col-md-4 border-left mt-2">
                <h5>@obj.Brand @obj.Type</h5>
                <p class="text-info">@obj.Title</p>

                    <p class="text-danger">Expiry Date: @obj.ExpiryDate.ToString("dd MMMM yyyy, HH:mm") </p>
                    <p class="text-success font-weight-bold">
                        Time remaining: <span id="@("time-left" + obj.AuctionID)"></span>
                        <script>
                                startCountdown(@timeRemaining.TotalSeconds, '@("time-left" + obj.AuctionID)');
                        </script>
                        <div class="align-bottom">
                            <a class="btn btn-primary btn-block" asp-controller="Auction" asp-action="Display" asp-route-Id="@obj.AuctionID">Details</a>
                            <a class="btn btn-outline-primary btn-block mt-2" asp-controller="Bids" asp-action="Create" asp-route-id="@obj.AuctionID">Place bid</a>
                        </div>
            </div>
            <div class="col-md-4 border-left mt-2">
                <div class="alert alert-primary" role="alert">
                    Starting bid: $@obj.Min_bid
                </div>
                <div class="alert alert-success" role="alert">
                    Winning bid: $@obj.Max_bid
                </div>
                <div class="alert alert-warning" role="alert">
                    Current bid: $@obj.Current_bid
                </div>
                <div class="alert alert-info" role="alert">
                    Your last bid: $@obj.UserLastBid
                </div>              

            </div>
        </div>
        <br />
    }
}
    </div>
</div>
</div>
    }
    else
    {
        <p>There are no active auctions at the moment.</p>
    }

</div>


